@* Maurício Rimes Vieira *@
@model IEnumerable<Projeto1_IF.Models.TbPaciente>

@{
    ViewData["Title"] = "Pacientes";
}

<h1>Pacientes</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Novo Paciente</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Cpf)</th>
            <th>@Html.DisplayNameFor(model => model.Rg)</th>
            <th>@Html.DisplayNameFor(model => model.DataNascimento)</th>
            <th>@Html.DisplayNameFor(model => model.Sexo)</th>
            <th>Cidade</th>
            <th>@Html.DisplayNameFor(model => model.TelCelular)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Cpf)</td>
                <td>@Html.DisplayFor(modelItem => item.Rg)</td>
                <td>@Html.DisplayFor(modelItem => item.DataNascimento)</td>
                <td>@Formatos.Sexo(item.Sexo)</td>
                <td>@item.IdCidadeNavigation?.Nome</td>
                <td>@Html.DisplayFor(modelItem => item.TelCelular)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPaciente">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdPaciente">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPaciente">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
